#main {
  background-color: white;
}

.dropdown {
  float: right;
  background-color: green;
  color: white;
  font: Georgia;
}

.dropdown-content {
  display: none;
  padding: 5px;
  background-color: white;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content p:hover {
  background-color: green;
  color: white
}

div {
  background-color: #c6c6c6;
  border: 1px solid black;
  /* border-collapse: collapse; */
  display: inline-block;
  padding: 10px;
  /* margin: 5px; */
}
