/* body {
  background-color: white;
} */

#submitExpenses {
  background-color: green;
  color: white;
  float: right;
  padding: 5px 10px;
  font-family: Georgia;
  /* display: none; */
}

.new {
  font-weight: bold;
  color: blue;
}

.cap td:nth-child(4) {
  background-color: darkblue;
  color: white;
}

.dis td:nth-child(4) {
  background-color: silver;
  color: white;
}

.wf td:nth-child(4) {
  background-color: red;
  color: white;
}

h1, p {
  font-family: Arial;
}

th {
  color: black;
  text-decoration: underline;
}

td {
  padding: 5px 15px;
  text-align: justify;
}

td:first-child {
  text-transform: capitalize;
}

tr:nth-child(even) {
  background-color: #c0c0c0;
}

tr:hover {
  background-color: darkgreen;
  color: white;
}


/* tr:last-child {
  font-weight: bold;
  color: blue;
} */
