/* body {
  background-color: lightblue;
} */

.year {
  background-color: lightblue;
}


#add {
  margin-top: 30px;
  padding: 20px;
  background-color: green;
  float: right;
}

#barGraph {
  background-color: blue;
  color: white;
  /* clear: both; */
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  padding: 14px 20px;
  float: left;
  color: white;
}

li a:visited {
  color: white;
  text-decoration: none;
}

h1, h2, h4 {
  font-family: Arial;
  text-align: center;
}

th {
  padding: 10px 20px;
  text-decoration: underline;
}

td {
  padding: 5px 15px;
}

td:first-child {
  font-weight: bold;
}

tr:last-child {
  background-color: darkgreen;
  color: white;
}
